.nav-bar {
    padding: 0;

}
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 10px 0;
    background-color: #eee;
}
.nav-bar ul {
    display: flex;
    list-style: none;
}
.nav-bar li a{
    color: #000;
}

#submit{
    background-color: rgb(255, 187, 0);
    width: 135px;
    border: none;
    font-weight: bold;
}

.select{
    background-color: #f1c40f;
}
.select:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  .card-header {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }

@media (max-width: 540px){

}

  